
@font-face {
  font-family: "SevenSegment";
  src: url('fonts/digital-7 (mono).ttf') format("truetype");
}


.header-font 
{ 
    font-family: "SevenSegment", sans-serif 
}

.md-icon {
    height: unset;
    width: unset;
}